.template {
    h1 {
        margin-bottom: 40px;
    }
    width: 900px;
    padding: 60px 20px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(215, 222, 225);

    @media (max-width: 768px) {
        width: 100%;
    }
}
